* {
  font-family: "Avenir Next LT Pro", Calibri, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Avenir Next LT Pro", Calibri, sans-serif;
}
